google-cloud-aiplatform
google-generativeai
pydantic
python-dotenv
termcolor
faker
structlog
fastapi
uvicorn
websockets
faker
fastapi
google-cloud-aiplatform
google-generativeai
pydantic
python-dotenv
structlog
termcolor
uvicorn
websockets
